* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333333;
    overflow: scroll;
    background-color: #e8e2e2;
}

h1 {
	font-size: 36px;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
}

p {
	margin: 0 0 10px 0;
}
#wrap{
	width: 1200px;
	height: auto;
	margin: auto;
}
#wrap #banner{
	width: 1200px;
	height: 300px;
	box-sizing: border-box;
}
#wrap #header{
	width: 600px;
	height: 30px;
	background-color: #64a7d6;
}
#wrap #header ul{
	width: auto;
	height: auto;
}
#wrap #header ul li{
	display: inline;
	list-style-type: none; 
	margin: 50px;
	line-height:30px; 
	font-size:14px;
}
#wrap #header ul li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
#wrap #container{
	width: 1200px;
	height: auto;
}
#wrap #container .row{
	width: 100%;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 100px;
}
#wrap #container .row .show_img{
	float: left;
	width: 33.33%;
	height: 120px;
	margin-top: 5px auto;
	box-sizing: border-box;
}
#wrap #container .row .show_img span{
	font-weight: bold;
	margin-left: 170px;
}
#wrap #container .row .show_img img{
	width: 100%;
	height: auto;
	padding-right: 5px;
}
#wrap #container .row .show_img img:hover{
	border-radius: 50%;
}