* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333333;
    overflow: scroll;
    background-color: #ece4e4;
}

h1 {
	font-size: 36px;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 1.1;
}

p {
	margin: 0 0 10px 0;
}
#wrap{
	width: 1200px;
	height: auto;
	margin: auto;
}
#wrap #banner{
	width: 1200px;
	height: 250px;
	position: relative;
}
#wrap #banner img{
	width: 1187px;
	height: 250px;
	box-sizing: border-box;
	border:1px solid black;
	padding: 1px;
}
#wrap #main_content
{
	width: 1200px;
	height: auto;
	margin-top: 5px;
}
#wrap #main_content #navbar{
	width: 200px;
	height: 400px;
	float: left;
	position: absolute;
}
#wrap #main_content #navbar .tnavbar{
	width: 190px;
	height: 40px;
	background-color: #105caa;
}
#wrap #main_content #navbar .tnavbar span{
	font-size: 24px;
	color:white;
	margin-left: 40px; 
}
#wrap #main_content #navbar ul{
	width: 190px;
	height: auto;
}
#wrap #main_content #navbar ul li{
	list-style-type: none;
	background-color: white;
	height: 40px;
	padding: 5px;
	border: 1px solid grey;
	position: relative;
}
#wrap #main_content #navbar ul li:hover{
	background-color: green;
	cursor: pointer;
}
#wrap #main_content #navbar ul li:hover .sub_menu{
	display: block;
}
#wrap #main_content #navbar ul li a{
	text-decoration: none;
	margin-left: 30px;
}
#wrap #main_content #navbar ul li:hover a{
	color:black;
}
#wrap #main_content #navbar ul li .sub_menu{
	position: absolute;
	left: 190px;
	top:0;
	display: none;
}
#wrap #main_content #show_img{
	width: 1000px;
	height: auto;
	float: right;

}
#wrap #main_content #show_img .images{
	float: left;
	width: 33.33%;
	margin: auto;
}
#wrap #main_content #show_img .images img{
	width: 320px;
	height: 200px;
	border:1px double grey;
	padding: 2px;
}
#wrap #footer{
	clear: both;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #c6cfe8;
	border-radius: 5px;
	line-height: 50px;
}
#wrap #up{
	position: fixed;
	right: 5px;
	bottom: 60px;
}
#wrap #up img{
	width: 25px;
	height: 25px;
}